.jumbotron {
  background-color: rgb(37, 35, 35);
  padding-top: 140px;
}
.jumbotron-wrapper {
  display: flex;
}
.jumbotron-img img {
  border: 1px solid white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin-right: 50px;
}
.jumbotron-content {
  color: white;
}
.jumbotron-content-rating {
  display: flex;
}
.jumbotron-content-rating div:nth-child(2) {
  margin-left: 20px;
  margin-top: 13px;
}
.jumbotron-content button {
  border-radius: 5px;
  padding: 4px 16px;
  margin: 10px 30px 0 0;
}
.btn-trailer {
  border: 1px solid #fe024e;
  background-color: #fe024e;
  color: white;
  font-weight: 600;
}
.btn-trailer:hover {
  border: 1px solid #eb507f;
  background-color: #eb507f;
}
.btn-watchlist {
  border: 1px solid white;
  background: rgba(254, 2, 78, 0);
  font-weight: 600;
  color: white;
}
.btn-watchlist:hover {
  background-color: #fe024e;
  color: white;
}
.btn-watchlist-active {
  background-color: #fe024e;
  color: white;
  border: 1px solid #fe024e;
  background-color: #fe024e;
  font-weight: 600;
  cursor: not-allowed;
  pointer-events: none;
}

/* @media only screen and (min-width: 576px) {
  .jumbotron-wrapper {
    display: flex;
  }
  .jumbotron-img {
    width: 100px;
  }
}
@media (min-width: 768px) {
  .jumbotron-wrapper {
    display: flex;
  }
} */
